#header {
    position: relative;
    margin: auto;
    height: 5px;
    background: #00aeef;
}

#menu {
    position: relative;
    margin: auto;
    height: 57px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px rgba(255, 255, 255, 0.05);
}

#room_logo {
    position: absolute;
    height: 25px; width: 7em;
    margin-left: 0.8%; margin-top: 25.8%;
    background-repeat: no-repeat;
    background-image: url(../pictures/voicious_logo.png);
}

#options_first {
    left: 162px;
}
#options_second {
    right: 0%;
}

.options {
    position: absolute;
    width: 30%;
    margin-top: 28%;
    font-weight: bold;
}

.options p {
    position: absolute;
    color: #51626f;
    margin-top: 4px;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 11px;
}

.options button {
    position: absolute;
    width: auto;
    color: white;
    height: 25px;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 65%;
    font-weight: bold;
    background-color: #1E2123;
    border-color: black;
    border-width: 1px;
}

#password {
    right: 111px;
}
#plugins {
    right: 2%
}


#contacts {
    right: 74px;
}
#settings {
    right: 2%
}