#header {
    position: relative;
    margin: auto;
    height: 5px;
    background: #00aeef;
}

#menu {
    position: relative;
    margin: auto;
    height: 57px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px rgba(255, 255, 255, 0.05);
}

@font-face {
    font-family: "BreeSerif-Regular";
    src: url(../fonts/BreeSerif-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
}

#room_logo {
    position: absolute;
    margin-left: 0.8%; margin-top: 8.8%;
    font-family: 'BreeSerif-Regular';
    color: white;
    font-size: 30px;
}

#options_first {
    left: 162px;
}
#options_second {
    right: 0%;
}

.options {
    position: absolute;
    width: 23%;
    margin-top: 28%;
    font-weight: bold;
}

.options p {
    position: absolute;
    color: #51626f;
    margin-top: 4px;
    font-family: 'OpenSans-Regular';
    font-size: 11px;
}

#room_url, #login {
    color: white;
}

#login {
    left: 77px;
    font-family: 'OpenSans-Bold';
}

.options button {
    position: absolute;
    width: auto;
    color: white;
    height: 25px;
    font-family: 'OpenSans-Bold';
    font-size: 65%;
    font-weight: bold;
    border-color: black;
    border-width: 1.5px;
    border-radius: 3px;
    background:#484d51;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484d51 ), to(#222528));
    box-shadow: 0px 1px 4px #222528;
}

#password {
    right: 112px;
}
#plugins {
    right: 0%
}


#contacts {
    right: 80px;
}
#settings {
    right: 2%
}