head
  meta(http-equiv="Content-Type", content="text/html", charset="UTF-8")
  meta(name="description", content="Simple application for videoconference")
  meta(name="identifier-url", content="http://www.voicious.com")
  meta(http-equiv="content-Language", content="fr")
  link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Bitter:400italic', rel='stylesheet', type='text/css')
  link(rel="icon", type="image/png", href="includes/pictures/favicon.png")
  link(rel="shortcut icon", type="image/png", href="includes/pictures/favicon.png")
  | <title>Voicious</title>