#textChat.module.fill-height.color-one
    .frame
        #chatContent
            ul
        #chatForm
            form
                span#descriptionTC= t('app.textChat.DescriptionTC')
                textarea