#textChat {
    width: 25%;
    font-size: 13px;
}

#chatContent {
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    user-select: text;
    height: 90%;
}

#chatContent ul {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.chatmetadata:first-child {
    color: #00AEEF;
}

.time {
    color: #555;
    font-size: 12px;
}

.blueduckturquoise {
    color: #00c296;
}

.italic {
    font-style: italic;
}

.chatmessage {
    color: white;
    word-wrap: break-word;
    text-align: justify;
    margin-top: 5px;
}

.chatmessage p {
    line-height: 15px;
    word-wrap: break-word;
    width: 95%;
}

.chatmessage a {
    border: none;
    box-shadow: none;
    background-color: transparent;
    text-decoration: underline;
}

.tcSeparator {
    width: calc(100% - 12px);
    border-bottom: 1px solid black;
    margin-top: 13px;
    margin-bottom: 11px;
    margin-left: -2px;
}

#chatForm {
    height: 10%;
}

#chatForm > form {
    height: 100%;
}

#chatForm > form > textarea {
    -webkit-box-shadow: none; /* Remove */
    box-shadow: none;         /*  blue  */
    border: none;             /*  halo  */
    height: 60%;
    position: relative;
    background-color: #a5aeb6;
    resize: none;
    padding: 0 5px;
    color: #090a0b;
    font-size: 13px;
}

#descriptionTC {
    height: 40%;
    display: block;
    text-align: right;
}
