#sidebar {
    width: auto;
    float: left;
    min-width: 200px;
    color: white;
}

#sidebar i { /* in double */
    margin-right: 6px;
}

#content {
    overflow: hidden;
}

#logo {
    text-align: right;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.content-right {
    text-align: right;
}

#userInfoCtn {
    color : #ffffff;
    margin-top: 15px;
    margin-right: 20px;
}

#login {
    font-weight: bold;
    font-size: 17px;
}

#dashboard {
    font-family: 'OpenSans-Bold';
    margin-top: 5px;
    font-size: 10px;
    color: #444F54;
    text-transform: uppercase;
}

#optionController {
    margin-top: 20px;
}

#optionController > ul > li {
    height: 40px;
    cursor: pointer;
}

/* Center content vertically */
#optionController > ul > li > div.option-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#optionController > ul > li > div.option-wrapper {
    display: inline-block;
    position: relative;
    margin-left: 10%;
    text-transform: uppercase;

    font-family: 'OpenSans-Bold';
    font-size: 12px;
}

.options.active {
    box-shadow: inset 0 1px rgba(255,255,255,.05);
    position: relative;
    background-color: #008EF1;
}

/* Draw the arrow on selected option */
.options.active:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;

    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #008EF1;
    border-width: 20px; /* half the height an li */
}