#sidebar {
    width: auto;
    float: left;
    min-width: 200px;
    color: white;
}

#sidebar i { /* in double */
    margin-right: 6px;
}

#content {
    overflow: hidden;
    position: relative;
}

#logo {
    text-align: right;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.content-right {
    text-align: right;
}

#userInfoCtn {
    color : #ffffff;
    margin-top: 15px;
    margin-right: 20px;
}

#login {
    font-weight: bold;
    font-size: 17px;
}

#dashboard {
    font-family: 'OpenSans-Bold';
    margin-top: 5px;
    font-size: 10px;
    color: #444F54;
    text-transform: uppercase;
}

#optionController {
    margin-top: 20px;
}

#optionController > ul > li {
    height: 40px;
    cursor: pointer;
}

#optionController > ul > li > div.option-wrapper {
    display: inline-block;
    position: relative;
    margin-left: 10%;
    text-transform: uppercase;

    font-family: 'OpenSans-Bold';
    font-size: 12px;
}

.options.active {
    box-shadow: inset 0 1px rgba(255,255,255,.05);
    position: relative;
    background-color: #008EF1;
}

/* Draw the arrow on selected option */
.options.active:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;

    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #008EF1;
    border-width: 20px; /* half the height an li */
}

.frame {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 30px 10px 10px 60px;
}

.content {
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
}

.title {
    font-family: 'OpenSans-Regular', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
}

#roomsContent > div {
    margin-top: 3%;
}

button {
    text-transform: uppercase;

    background: linear-gradient(to bottom, #262c32 0%, #1b1f23 100%);

    border-style: solid;
    border-width: 1px;
    border-color: #101113;
    border-radius: 6px;

    box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08);
    margin: 0;
    padding: 0;

    width: 175px;
    height: 42px;

    font-family: 'OpenSans-Regular', Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: .9em;;
    color: #fff;
}

#createButton {
    background: #64c32b;
}

#createButton:hover {
    background-color: #73d339;
}

#createJoinRoom {
    height: 42px;
    min-width: 600px;
}

#createJoinRoom > *:nth-child(n) {
    display: inline-block;
}

#joinForm {
    min-width: 400px;
}

/* Duplicate ! Need to put this in style.coffee */
input[type="text"], input[type="password"] {
    padding: 0 12px;
    background: #0f1012;

    border-radius: 6px;
    width: 224px;
    height: 42px;
    line-height: 20px;
    font-size: 1em;
    font-family: "PT Sans", "Helvetica", sans-serif;
    color: #fff;
    box-shadow: 0 1px rgba(255, 255, 255, 0.04), inset 0 2px 4px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px;
    border-color: #101113;
    transition: border-color 400ms;
    -webkit-transition: border-color 400ms;
}

#joinForm > input {
    width: 60%;

    border-radius: 0px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

#joinForm > button {
    width: 40%;
    background: #008EF1;
    border-radius: 0px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.separator{
    background: #444F54;
    height: 90%;
    width: 1px;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px;
}

.centerVertically:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
