body > * {
    font-family: 'OpenSans-Regular';
    font-weight: normal;
    font-size: 12px;
}

.italic {
    font-style: italic;
}

.bold {
    font-family: 'OpenSans-Bold';
}

.bigFont {
    font-size: 14px;
}

#sidebar {
    width: auto;
    float: left;
    min-width: 200px;
    color: white;
}

i {
    margin-right: 6px;
}

#content {
    overflow: hidden;
    position: relative;
}

#logo {
    text-align: right;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.content-right {
    text-align: right;
}

#userInfoCtn {
    color : #ffffff;
    margin-top: 15px;
    margin-right: 20px;
}

#login {
    font-weight: bold;
    font-size: 17px;
}

#dashboard {
    margin-top: 5px;
    color: #444F54;
    text-transform: uppercase;
}

#optionController {
    margin-top: 20px;
}

#optionController > ul > li {
    height: 40px;
    cursor: pointer;
}

#optionController > ul > li > div.option-wrapper {
    display: inline-block;
    position: relative;
    margin-left: 10%;
    text-transform: uppercase;
}

.options.active {
    box-shadow: inset 0 1px rgba(255,255,255,.05);
    position: relative;
    background-color: #008EF1;
}

/* Draw the arrow on selected option */
.options.active:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;

    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #008EF1;
    border-width: 20px; /* half the height an li */
}

.frame {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 30px 10px 10px 60px;
}

.title {
    display: inline-block;
}

#roomsContent > div {
    margin-top: 2%;
}

button {
    text-transform: uppercase;

    background: linear-gradient(to bottom, #262c32 0%, #1b1f23 100%);

    border-style: solid;
    border-width: 1px;
    border-color: #101113;
    border-radius: 6px;

    box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08);
    margin: 0;
    padding: 0;

    width: 175px;
    height: 42px;

    font-style: normal;
    font-weight: bold;
    font-size: .9em;;
    color: #fff;
}

#createJoinRoom {
    width: 30%;
}

#createJoinRoom > *:not(:first-child) {
    margin-top: 2em;
}

#createButton {
    width: 100%;
    border: 0;
    background: #64c32b;
}

#createButton:hover {
    color: white;
    background-color: #73d339;
}

#joinForm > input {
    width: 75%;

    border-radius: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08);
}

#joinForm > button {
    width: 25%;

    border-radius: 0px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.centerVertically:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.titleSection {
    color: #2194FF;
    margin-bottom: 1%;
    text-transform: uppercase;
}

/* friend box */

.friendRoom {
    position: relative;
    min-width: 600px;
    width: 40%;
    height: 100px;
    display: inline-block;
}

.friendRoom > div {
    display: inline-block;
    margin-left: 3%;
}

.friendRoom > div:nth-last-child(-1n+2) {
    margin-left: 0;
}

.friendLoginBox {
    width: 20%;
}

.roomIdBox {
   width: 33%;
}

.nbUserBox {
    width: 13%;
}


.boxHidder {
    padding: 0;
    margin: 0;
    width: 25%;
    height: 100%;
}

.joinBox {
    width: 25%;
}

.center {
    display: inline-block;
    vertical-align: middle;
}

.headerText {
    margin-bottom: 10px ;
}


.btn-join:hover {
    background: #40a3ff;
    color: white;
}

.btn-join {
    background: #008EF1;
}

div.joinBox > .joinFriendRoom {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;

    box-shadow: inset 0  1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08);
    border-style: solid;
    border-width: 1px;
    border-color: #101113;

    width: 90%;
    padding: 11px 0;

    text-transform: uppercase;
}

/* end friend box */