/* Room General */
.bordered {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(15, 15, 15);
}

.shadowed {
    box-shadow: inset 0 1px rgba(255,255,255,.05);
}

button:hover {
    background: #0e1011;
}

button {
    box-shadow: inset 0 1px rgba(255,255,255,.05);
    background-color: #131517;
    color: #ffffff;
    line-height: 15px;
    font-size: 12px;
    width: 100%;
}

/* Content related */

#container {
    position: relative;
    overflow: hidden;
    width: auto;
}

#modArea {
	display: inline-block;
    width: calc(93% - 20px);
}

#modArea > *:nth-child(n+2) {
    margin-right: 10px;
}

#feeds {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #eee;
    width: 118px;
	display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

#feeds ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#feeds > li {
    overflow: hidden;
    position: relative;
    height: 115px;
    width: 115px;
    top: 0;
    left: 0;
    margin: 0 3px 3px 0;
    float: left;
}

video {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
}

.module {
    overflow: hidden;
    position: relative;
    display: inline-block;
	float: left;
}

/* user interface on thumbnails */

.nocam {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: 5em;
}

.user-square-controls  ul {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.user-square-controls li {
    padding: 2px 6px;
    margin-bottom: -1px;
    background-color: #131517;
    border: solid 1px #000;
    box-shadow: inset 0 1px rgba(255, 255, 255, .05);
    text-transform: uppercase;
    font-size: .8em;
    cursor: pointer;
}

.user-square-controls li:hover {
    background-color: #00aeef;
    box-shadow: inset 0 1px rgba(0255, 255, 255, .2);
}

.user-square-controls li:active {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .8);
}

.username {
    display: block;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, .08);
    margin-bottom: 4px;
}

.user-square-controls i {
    margin-right: 6px;
}

.user-square-controls li:last-child {
    border-radius: 0 0 3px 3px;
}

.user-square-controls li:first-child {
    border-radius: 3px 3px 0 0;
}

.cam-username-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
}

.cam-username {
    border: solid 1px #090a0b;
    display: inline-block;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(255, 255, 255, .06);
    padding: 3px 6px;
    background: -moz-linear-gradient(top,  #090a0b 0%, #131517 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  #090a0b 0%,#131517 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #090a0b 0%,#131517 100%); /* W3C */
}

.user-square-controls,
.user-square:first-child:hover .user-square-controls,
.user-square:hover .cam-username-wrapper,
.user-square:hover video,
.user-square:hover .nocam {
    display: none;
}

.user-square:first-child:hover video,
.user-square:first-child:hover .nocam,
.user-square:first-child:hover .cam-username-wrapper,
.user-square:hover .user-square-controls {
    display: block;
}

#mainCam {
    text-align: center;
}

li.zoom-cam-wrapper {
    margin: 0 10px 10px 0;
    position: relative;
    overflow: hidden;
    float: left;
}

.zoom-control {
    display: none;
    position: relative;
}

.zoom-cam:hover .zoom-control {
    display: block;
}

.zoom-control li {
    padding: 2px 8px 2px 8px;
    margin-bottom: -1px;
    width: 10px;
    cursor: pointer;
    float: right;
}

/* Popovers */

.popover {
    font-family: 'OpenSans-Bold';
    background-color: #232323;
}

.popover-content small {
    font-size: 10px;
    color: #fff;
    line-height: 13px;
}

.popover-content textarea {
    margin-bottom: 10px;
    padding: 2px;
    resize: vertical;
}

.popover-title {
    background-color: #121212;
    border-bottom: 1px solid #888;
    color: #fff;
    font-size: 14px;
}

.popover.right .arrow:after {
    border-right-color: #232323;
}

/* end user interface on thumbnails */

/* tutorial mode */

.introjs-helperLayer {
	background-color: transparent;
}

.introjs-helperNumberLayer {
	visibility: hidden;
}

.introjs-tooltip {
	background-color: #131517;
	color: white;
}

.introjs-arrow.left {
	border-right-color: #131517;
}

.introjs-showElement {
	background-color: #131517;
}

.introjs-button {
	background: #131517;
	border-color: black;
	color: white;
	text-shadow: none;
	cursor: pointer;
}

.introjs-button:active {
	color: green;
}

.introjs-button:focus {
	background: #0e1011;
	color: #00aeef;
	border-color: #00aeef;
	text-shadow: none;
	outline: none;
}

.introjs-button:hover {
	background: #0e1011;
	color: #00aeef;
	border-color: black;
	text-shadow: none;
	box-shadow: none;
}

.introjs-nextbutton, .introjs-prevbutton {
	background: #0e1011;
	color: white;
	border-color: black;
	text-shadow: none;
}

.introjs-disabled, .introjs-disabled:hover, .introjs-disabled:focus {
	background-color: #131517;
	border-color: black;
	text-shadow: none;
	color: #333;
}

.introjs-skipbutton {
	background-color: #131517;
	border-color: black;
	color: white;
}

/* end tutorial mode */