extends main

block style
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/font-awesome.min.css")
    link(rel="stylesheet", media="screen", type="text/css", href="/public/css/home.css")

block scripts
    script(type="text/javascript")
        if ("#{hash}" !== "") {
            window.location.hash    = "#{hash}";
        }

    if locals.erroron
        script(type="text/javascript")
            this.erroron    = JSON.parse('!{erroron}');

    if locals.roomid
        script(type="text/javascript")
            $(document).ready(function () {
              $("#joinRoomBtn").click();
              $("#joinUrl").val("!{roomid}");
            });

block content
  div.container
    div.signup
      a
        i.icon-edit
        strong SIGN UP
        | &nbsp;for an account
      a.benefits
        i.icon-chevron-sign-right
        | benefits of signing up (for free)
    div.start-container
      div.logo
      div.tabs
        div.quick
          i.icon-bolt
          | quick start
        div.signin
          i.icon-user
          | sign in
      div#quickContainer.stepContainer
        div#quickInitial.step
          button#quickCreateBtn.btn-large.btn-quick.btn-start.btn-quick-init
            i.icon-asterisk.icon-create
            strong create
            | &nbsp;new room
          button#quickJoinBtn.btn-large.btn-quick.btn-start.btn-quick-init
            i.icon-chevron-right.icon-join
            strong join
            | &nbsp;existing room
      div#quickCreate.step
        div.description
          i.icon-asterisk
          | Create a new Room
        input(name="nickname", placeholder="Nickname", type="text")
        div.error
          label
            i.icon-remove
            | &nbsp;Please choose a nickname
        button.btn-large.btn-start.btn-create create
        button.btn-large.btn-start.btn-cancel cancel
      div#quickJoin.step
        div.description
          i.icon-chevron-right
          | Join an existing Room
        input(name="roomId", placeholder="Room ID", type="text")
        div.msg.success
          label
            i.icon-ok
            strong Room ID
            | &nbsp;is OK
        input(name="nickname", placeholder="Nickname", type="text", autofocus)
        div.msg.info
          label
            i.icon-hand-left
            | &nbsp;Choose a nickname, then you are good to join
        button.btn-large.btn-start.btn-create create
        button.btn-large.btn-start.btn-cancel cancel
