doctype 5

html
    head
        meta(http-equiv="Content-Type", content="text/html", charset="UTF-8")
        meta(name="description", content="Simple application for videoconference")
        meta(name="identifier-url", content="http://www.voicious.com")
        meta(http-equiv="content-Language", content="fr")
        
        title #{title}

        link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Bitter:400italic", rel="stylesheet", type="text/css")
        link(rel="stylesheet", media="screen", type="text/css", href="/public/css/style.css")
        link(rel="shortcut icon", type="image/png", href="/public/pictures/favicon.png")
        block style

        script(type="text/javascript", src="/public/js/global.js")
        script(type="text/javascript", src="/public/js/vendor/jquery.js")
        block scripts

    body
        block content
