extends main

block style
    link(rel="stylesheet", media="screen", type="text/css", href="/public/services/room/css/room.css")

block scripts
    script(type="text/javascript", src="/public/js/webRTC.js")
    script(type="text/javascript", src="/public/js/network.js")
    script(type="text/javascript", src="/public/js/room.js")

block content
    body
        div#header
        div#menu
            p#room_logo voıċıoųs
            div#room_control
              p(room='#{room}', token='#{token}')#infos
              div#room_url_box
                span#share.icon.icon-share
                p#room_url
                  span#room_text #{room}
                button#shutdown.icon.icon-off
              div#btnCtrlBox
                button.roomBtnCtrl
                  span.icon.icon-lock
                  span.textBtn MANAGE ACCESS
                button.roomBtnCtrl
                  span.icon.icon-check-empty
                  span.textBtn MANAGE PLUGINS
                button.roomBtnCtrl
                  span.icon.icon-plus
                  span.textBtn INVITE CONTACTS
            div#userControl
              span.icon.icon-user
              p#login.textBtn #{login},
                span#acl user
                button#dashboard.roomBtnCtrl
                  span.icon.icon-dashboard
                  span.textBtn DASHBOARD
        div#body
            div
                button#joinConference.btn Start Conference
                //button#btn2.btn Hang Up
            div#videos.video_container
                div
                    p Caller
                    video(autoplay)#localVideo.videoStream
