div#localVideoContainer.video
  div#notActivate
    center#centeredLocal
      label#feedNotActivate #{trans.feedNotActive}
    center#centerButton
      button#joinConference #{trans.activateCam}
  video(autoplay)#localVideo.localVideo.none