div.box#textChatContainer.west(data-step="4", data-intro='#{trans.textChatArrow}', data-position="right")
  div#tcMessagesContainer
  div#tcInputBox
    form#chatForm
      input(type='text')#tcMessageInput
