div.box#userListContainer.east(data-step="3", data-intro='#{trans.userListArrow}', data-position="left")
  label.textBtn#userListTitle #{trans.userListTitle}
  ul#userListUl
    li.userBox.user #{login}
