.frame {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    margin: 10px;
}

textarea {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%
}

#textChat {
    position: absolute;
    width: 25%;
}


#chatContent {
    height: 90%;
}

#chatForm {
    height: 10%;
}

#chatForm > form {
    height: 100%;
}

#chatForm > form > textarea {
    -webkit-box-shadow: none; /* Remove */
    box-shadow: none;         /*  blue  */
    border: none;             /*  halo  */
    height: 60%;
    position: relative;
    background-color: black; /* fake color */
    resize: none;
}

#descriptionTC {
    height: 40%;
    display: block;
    text-align: right;
}
