#logo {
    position: relative;
    height: 183px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    background-image: url(../pictures/voicious_logo_big.png);
}

#desc {
    position: relative;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
    left: 14px;
    color: #b4c1c7;
    font-family: 'Bitter', serif;
    font-size: 14px;
    text-align: left;
    font-style: italic;
    text-shadow: 0 2px rgba(0,0,0,0.3);
}

div#choicesContainer {
    position:relative;
    top: 0;
    left: 0;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
}

#choices {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-right: 1px;
    color: #d1e5f7;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#jumpIn, #logIn, #signUp {
    position: relative;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding: 4px;
    overflow: hidden;
}

#newRoom, #joinRoom {
    position: relative;
    left: 290px;
    bottom: 82px;
}

#stepOne {
    position: relative;
}

#jumpIn form, #logIn form, #signUp form {
    background-color: #d2dade;
    border-radius: 0.3em;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.6),0 1px rgba(255,255,255,0.1);
    border: solid 1px #000000;
    margin-bottom: 16px;
}

#logIn a {
    margin-top: 10px;
    color: #636f75;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 13px;
    float: right;
}

#logIn a:hover {
    color: #ffffff;
    text-shadow: 0 1px rgba(0,0,0,0.3);
}

span.stateGroup {
    position: absolute;
    top: 0;
    left: 255px;
    z-index: 200;
    width: 200px;
}

span.stateGroup > span.stateIcon {
}

span.stateGroup > span.errorMessage {
    background: #ed1b24;
    color: #fff;
    position: absolute;
    top: -1px;
    left: 23px;
    font-family: 'PT Sans';
    font-size: 12px;
    padding: 2px 5px;
    border: 1px solid #ff3038;
    box-shadow: 1px 0 3px #191d1e;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

span.stateGroup > span.errorMessage:after, span.stateGroup > span.errorMessage:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

span.stateGroup > span.errorMessage:after {
    border-color: rgba(237, 27, 36, 0);
    border-right-color: #ed1b24;
    border-width: 5px;
    top: 50%;
    margin-top: -5px;
}

span.stateGroup > span.errorMessage:before {
    border-color: rgba(255, 48, 56, 0);
    border-right-color: #ff3038;
    border-width: 6px;
    top: 50%;
    margin-top: -6px;
}

.btn-submit {
    color: #ffffff;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: 4px;
    border-radius: 0.4em;
    border: solid 1px #000000;
    box-shadow: inset 0 1px rgba(255,255,255,0.4);
}

.btn-submit:hover {
    box-shadow: inset 0 1px rgba(255,255,255,0.2);
}

.btn-submit:active {
    box-shadow: inset 0 0 8px rgba(0,0,0,0.7);
}

input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    width: 100%;
    margin: 0;
    padding: 8px;
    background-color: rgba(0,0,0,0);
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 14px;
    border: none;
    box-sizing: border-box;
    font-weight: bold;
}

input:focus, textarea:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: #636f75;
    font-weight: normal;
}

input: -moz-placeholder {
    color: #636f75;
}

.brdr {
    box-shadow: inset 0 -1px rgba(0,0,0,0.1);
}

li.choice {
    display: inline-block;
    padding: 8px 14px 8px 14px;
    margin: 0;
    background-color: rgba(0,107,207,0.8);
    box-shadow: inset 0 1px rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 0.2em;
    cursor: pointer;
    -webkit-transition: background-color 0.16s;
}

li.middle-choice {
    margin: 5px;
}

li.choice:active {
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 1px rgba(255,255,255,0.05);
}

li.selected {
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 1px rgba(255,255,255,0.05);
}

ul.clean {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#msg {
    text-align: center;
    color: #636f75;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 13px;
}
