body {
  background: #16191b;
  color: #fff;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.container {
  margin: 0;
  min-width: 940px;
  position: relative; }

.signup {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  margin: 12px;
  text-align: center;
  cursor: pointer; }
  .signup a {
    text-decoration: none;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #101113;
    font-size: .8em;
    padding: 12px;
    display: block; }
    .signup a:not(.benefits) {
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08);
      background-color: #1c2023; }
    .signup a strong {
      color: #ffe71a; }
    .signup a:hover:not(.benefits) {
      background-color: #2194ff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
      .signup a:hover:not(.benefits) strong {
        color: #fff; }
    .signup a:active:not(.benefits) {
      box-shadow: 0 1px rgba(255, 255, 255, 0.04), inset 0 1px 4px rgba(0, 0, 0, 0.32);
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2); }
  .signup .benefits {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-top: 2px;
    border-color: #1d2124;
    border-top-width: 0;
    color: #566774;
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-size: .8em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
    .signup .benefits:hover {
      color: #fff; }

.start-container {
  width: 340px;
  margin: 0 auto;
  padding: 80px 0; }
  .start-container .logo {
    background: url(https://dl.dropboxusercontent.com/u/284876/voicious/logos/voicious_beta.png);
    width: 283px;
    height: 165px;
    margin-left: 46px; }
  .start-container .tabs {
    margin: 32px auto;
    text-transform: uppercase;
    font-size: .8em;
    text-align: center; }
    .start-container .tabs i {
      margin-right: 6px; }
    .start-container .tabs > div {
      display: inline-block;
      width: 124px;
      height: 42px;
      margin-left: -4px;
      line-height: 42px;
      text-align: center;
      background: #191c20;
      border-style: solid;
      border-width: 1px;
      border-color: #101113;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08);
      cursor: pointer; }
      .start-container .tabs > div:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        margin-left: 0; }
      .start-container .tabs > div:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px; }
      .start-container .tabs > div:hover:not(.active) {
        background: #17191d; }
      .start-container .tabs > div:active:not(.active) {
        background: #16191d;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); }
    .start-container .tabs > .active {
      background: #1b1f23;
      background: -moz-linear-gradient(top, #1b1f23 28%, #262c32 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(28%, #1b1f23), color-stop(100%, #262c32));
      background: -webkit-linear-gradient(top, #1b1f23 28%, #262c32 100%);
      background: -o-linear-gradient(top, #1b1f23 28%, #262c32 100%);
      background: -ms-linear-gradient(top, #1b1f23 28%, #262c32 100%);
      background: linear-gradient(to bottom, #1b1f23 28%, #262c32 100%); }
      .start-container .tabs > .active i {
        color: #ffe71a; }

#quickContainer .step:not(:first-child) {
  display: none; }

.stepContainer:not(#quickContainer) {
  display: none; }

.step {
  position: relative;
  text-align: center; }
  .step button, .step input {
    margin: 6px 0; }

.description {
  display: inline-block;
  width: 250px;
  padding: 10px 0;
  margin-bottom: 20px;
  background: #16191b;
  background: -moz-linear-gradient(top, #16191b 0%, #141618 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #16191b), color-stop(100%, #141618));
  background: -webkit-linear-gradient(top, #16191b 0%, #141618 100%);
  background: -o-linear-gradient(top, #16191b 0%, #141618 100%);
  background: -ms-linear-gradient(top, #16191b 0%, #141618 100%);
  background: linear-gradient(to bottom, #16191b 0%, #141618 100%);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.08), 0 1px rgba(255, 255, 255, 0.04);
  font-size: .9em;
  text-shadow: 0 1px rgba(0, 0, 0, 0.8); }
  .description i {
    margin-right: 12px; }

.rememberMe {
  display: inline-block;
  width: 250px;
  height: 42px;
  line-height: 42px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #101113;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06), 0 1px rgba(255, 255, 255, 0.06);
  text-align: left;
  color: #566774;
  font-size: .9em;
  font-family: "PT Sans", "Helvetica", sans-serif;
  margin: 6px 0;
  background: #21262b;
  cursor: pointer; }
  .rememberMe label, .rememberMe i {
    margin: 0 6px;
    cursor: pointer;
    transition: 200ms;
    -webkit-transition: 200ms; }
  .rememberMe:hover {
    background: #252b31; }
  .rememberMe:active {
    box-shadow: 0 1px rgba(255, 255, 255, 0.04), inset 0 1px 4px rgba(0, 0, 0, 0.32); }
  .rememberMe input {
    display: none; }

.checked {
  color: #fff; }
  .checked i {
    color: #64c32b;
    margin-right: 8px; }

input[type="text"], input[type="password"] {
  padding: 0 12px;
  background: #0f1012;
  border-radius: 6px;
  width: 224px;
  height: 42px;
  line-height: 20px;
  font-size: 1em;
  font-family: "PT Sans", "Helvetica", sans-serif;
  color: #fff;
  box-shadow: 0 1px rgba(255, 255, 255, 0.04), inset 0 2px 4px rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  border-color: #101113;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms; }
  input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #ffe71a; }

.step .input-error {
  border-color: #f32837; }
.step .input-success {
  border-color: #5cc151; }

.error, .success, .info {
  position: absolute;
  margin: 6px 12px;
  display: none;
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-family: "PT Sans", "Helvetica", sans-serif;
  font-size: .8em;
  text-align: left; }
  .error i, .success i, .info i {
    font-size: 1.4em;
    margin-right: 6px; }

.error label {
  display: inline-block;
  height: 42px;
  padding-right: 12px; }
.error i {
  color: #f32837; }

.success i {
  color: #5cc151; }

.forgot {
  display: inline-block;
  color: #899aa7;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  font-family: "PT Sans", "Helvetica", sans-serif;
  font-size: .9em;
  width: 250px;
  text-align: left;
  margin: 6px 0; }
  .forgot:hover {
    color: #fff; }

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  width: auto;
  overflow: visible; }
  button i {
    margin-right: 8px; }

.btn-large {
  border-radius: 6px;
  width: 250px;
  height: 42px;
  font-size: .9em; }

.btn-quick {
  background: #262c32;
  background: -moz-linear-gradient(top, #262c32 0%, #1b1f23 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262c32), color-stop(100%, #1b1f23));
  background: -webkit-linear-gradient(top, #262c32 0%, #1b1f23 100%);
  background: -o-linear-gradient(top, #262c32 0%, #1b1f23 100%);
  background: -ms-linear-gradient(top, #262c32 0%, #1b1f23 100%);
  background: linear-gradient(to bottom, #262c32 0%, #1b1f23 100%);
  border-style: solid;
  border-width: 1px;
  border-color: #101113;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08); }
  .btn-quick:hover {
    background: #1b1f23; }
  .btn-quick:active {
    box-shadow: 0 1px rgba(255, 255, 255, 0.04), inset 0 1px 4px rgba(0, 0, 0, 0.32); }

.btn-start {
  color: #fff;
  text-transform: uppercase;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08);
  border-style: solid;
  border-width: 1px;
  border-color: #101113; }
  .btn-start:not(.btn-quick-init) {
    font-weight: 700; }
  .btn-start:active {
    box-shadow: 0 1px rgba(255, 255, 255, 0.04), inset 0 1px 4px rgba(0, 0, 0, 0.32); }

.btn-create {
  background: #64c32b; }
  .btn-create:hover {
    background: #73d339; }
  .btn-create:active {
    background: #57aa25; }

.btn-join, .btn-sigin {
  background: #2194ff; }
  .btn-join:hover, .btn-sigin:hover {
    background: #40a3ff; }
  .btn-join:active, .btn-sigin:active {
    background: #0285ff; }

.btn-cancel {
  background: #21262b; }
  .btn-cancel:hover {
    background: #252b31; }

.icon-create {
  color: #64c32b; }

.icon-join {
  color: #2194ff; }

input::-webkit-input-placeholder {
  color: #566774; }

input::-moz-placeholder {
  color: #566774; }

.inline-block {
  display: inline-block !important; }

a i {
  margin-right: 6px; }
