/* Global For the Room */
html {
    width: 100%;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

body {
   width: 100%;
   height: 100%;
   -webkit-font-smoothing: antialiased;
   font-smoothing: antialiased;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
}

.color-one {
    background-color: #131517;
}

.color-two {
    background-color: #090a0b;
}

.container-fluid {
    width: 100%;
    padding: 0;
}

.fill-height {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.bordered {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(15, 15, 15);
}

.shadowed {
    box-shadow: inset 0 1px rgba(255,255,255,.05);
}

/* Sidebar Related */

#sidebar i {
    margin-right: 6px;
}

#logo {
    margin-top: 10%;
}

#sidebar {
    width: auto;
    float: left;
    min-width: 150px;
}

#content {
    overflow: hidden;
}

#userInfoCtn {
    margin-top: 25%;
    margin-right: 15%;
}

#login {
    font-weight: bold;
    font-size: 15px;
    color: #b4C1C7;
}

#acl {
    font-family: 'OpenSans-Regular';
    font-weight: bold;
    font-size: 13px;
    color: #00aeef;
}

#onOffCtn {
    margin-top: 15%;
}

#onOffCtn i {
    font-size: 22px;
}

#onOffCtn span {
    font-size: 12px;
    font-family: 'OpenSans-Bold';
}

.activable:hover {
    background: #0e1011;
}

.activable {
    width: 50%;
    padding : 10px 0;
    cursor: pointer;
    border-right: none;
}

.headerAcc i {
    font-size: 13px;
}

/* Remove shitty properties added by ui-accordion-header */
#sidebarAcc .ui-accordion-header {
    padding: 20px 0;
    margin-top: 0;
}

#sidebarAcc .ui-accordion-content {
    padding: 0;
}

.headerAcc:hover {
    background: #0e1011;
}

.headerAcc {
    border-top: none;
    border-right: none;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    text-align: center;
}