html {
    width: 100%;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.color-one {
    background-color: rgb(30, 33, 35);
}

.color-two {
    background-color: rgb(15, 15, 15);
}

.color-three {
    background-color: rgb(30, 33, 35);
}

.container-fluid {
    width: 100%;
    padding: 0;
}

.fill-height {
    height: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-relative {
    position: absolute;
}

.column {
    padding: 10px 0 10px 10px;
}

.column.fill-height {
    height: calc(100% - 20px);
}

.flipH {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

a, a:focus {
    color: white;
    background-color: rgb(30, 33, 35);
    text-decoration: none;
    box-shadow: inset 0 1px rgba(255,255,255,.1);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(15, 15, 15);
    cursor: pointer;
    outline: none;
}

button {
    box-shadow: inset 0 1px rgba(255,255,255,.1);
}

.icon {
    font-family: 'FontAwesome';
    font-size: 13px;
}

.iconMedia {
    height: 30px;
    margin-left: -10px;
    font-size: 22px;
    margin-right: 18px;
}
.iconOther {
    float: left;
}

#logo {
    width: 70%;
}

#content {
    width: 90%;
}

#sidebar {
    text-align: center;
    width: 10%;
    padding-left: 0;
}

ul#feeds {
    width: 118px;
}

li.thumbnail-wrapper {
    width: 115px;
    height: 115px;
    margin: 0 3px 3px 0;
}

.video-wrapper {
    float: left;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
}

#labelcam, #labelmic {
    position: relative;
    top: 13px;
    color: red;
}
#labelcam {
    margin-left: -2px;
}


.labelOther {
    float: left;
    margin-left: 2px;
}

#shareRoomSpan, #manageRoomSpan {
    margin-top: 14px;
    margin-left: -13px;
    margin-right: 2px;
}
#labelShareRoom, #labelManageRoom {
    margin-top: 14px;
    float: left;
}

#login {
    color: #b4C1C7;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 24px;
    text-align: right;
}
#acl {
    color: #00aeef;
    font-family: 'OpenSans-Regular';
    font-weight: bold;
    margin-right: 24px;
    float: right;
    font-size: 13px;
}

#mediaBtn {
    margin-top: 40px;
}
#cam, #mic {
    font-size: 12px;
    height: 52px;
    border-right: none;
    font-family: 'OpenSans-Bold';
    text-decoration: none;
}

#camSpan, #micSpan {
    position: relative;
    top: 15px;
}
#camSpan {
    left: 11px;
}
#micSpan {
    left: 9px;
}
#cam {
    width: 50%;
    float: left;
}
#mic {
    width: 48%;
    float: right;
}

#shareRoomLink {
    margin-top: 93px;
}
#manageRoomLink {
    margin-top: -1px;
}
#shareRoomLink, #manageRoomLink {
    color: white;
    text-decoration: none;
    font-family: 'OpenSans-Bold';
    font-size: 9px;
    text-decoration: none;
    background-color: rgb(30, 33, 35);
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(15, 15, 15);
    border-right: none;
}
#shareRoomLink.down, #manageRoomLink.down {
    background-image: linear-gradient(#0A0B0C, rgb(30, 33, 35));
}

#sidebarAcc .ui-accordion-content {
    padding: 0;
    /*height: 110px;*/
    height: 56px;
    width: 100%;
    overflow: hidden;
}
.accordionLink {
    display: block;
    width: 100%;
    font-family: 'OpenSans-Bold';
    font-size: 8px;
    padding: 7px;
    float: left;
    border-right: none;
    border-top: none;
}

/* chat text */
#textChat {
    position: relative;
    top: 0;
    left: 0;
}

#chatform {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#chatform textarea {
    color: #4D5C6B;
    background-color: #101214;
    border: none;
    outline: none;
    padding: 10px;
    width: calc(100% - 19px);
    height: calc(100% - 20px);
    border-radius: 0;
    margin: 0;
    resize: none;
}

#chatcontent {
    float: left;
    position: relative;
    width: calc(100% - 32px);
    height: 100%;
    font-size: 13px;
    overflow: hidden;
    margin-top: 30px;
    padding: 0 16px;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    /*box-shadow: inset 0 4px rgba(14,15,17,.1);*/
}

#chatcontent ul {
    width: calc(100% - 32px);
    height: 100%;
    position: absolute;
    overflow: auto;
}

.chatmetadata:first-child {
    color: #00AEEF;
}

.time {
    color: #555;
}

#chatform span {
    float: right;
    margin-bottom: 8px;
    margin-right: 8px;
}

.chatmessage {
    color: white;
    word-wrap: break-word;
    text-align: justify;
    margin-top: 5px;
}

.chatmessage p {
    line-height: 15px;
    word-wrap: break-word;
    width: 95%;
}

.chatmessage a {
    border: none;
    box-shadow: none;
    background-color: transparent;
    text-decoration: underline;
}

#tcSeparator {
    width: calc(100% + 4px);
    border-bottom: 1px solid black;
    margin-top: 13px;
    margin-bottom: 11px;
    margin-left: -2px;
}

/* tutorial mode */
#tutoModeBtn {
    color: white;
    text-decoration: none;
    font-family: 'OpenSans-Bold';
    font-size: 9px;
    text-decoration: none;
    background-color: rgb(30, 33, 35);
    height: 49px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(15, 15, 15);
    border-right: none;
    border-top: none;
}

#spanTutoMode {
    float: left;
    margin-left: 10px;
    margin-top: 6px;
}

#labelTutoMode {
    float: left;
    margin-left: 4px;
}

#mainCam video {
    position: absolute;
}
