div#page {
    position: relative;
    width: 100%;
    height: 100%;
}

#header {
    position: relative;
    margin: auto;
    height: 5px;
    background: #00aeef;
}

#menu {
    position: relative;
    margin: auto;
    height: 53px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px rgba(255, 255, 255, 0.05);
}

#room_logo {
    float: left;
    width: 125px;
    margin-left: 0.8%; margin-top: 2px;
    font-family: 'BreeSerif-Regular';
    color: white;
    font-size: 30px;
}

#beta {
    position:absolute;
    font-size: 10px;
    color: #ffffff;
    margin-top: 32px;
    margin-left: -51px;
}

#room_control {
    margin-top: 10px;
    float: left;
    width: 60%;
    height: 40px;
    left: 140px;
}

#infos {
    display:none;
}

#room_url_box {
    display: inline-block;
    position: relative;
    -webkit-box-shadow: inset 0 1px #272a2c;
    -moz-box-shadow: inset 0 1px #272a2c;
    box-shadow: inset 0 1px #272a2c;
    border-top: solid 4px #111;
    border-left: solid 4px #111;
    border-right: solid 4px #111;
    border-bottom: solid 4px #111;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#share {
    color: #ffffff;
    position: relative;
    left: 23px;
}

#room_url {
    display: inline-block;
    font-family: 'OpenSans-Regular';
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 3px 20px 3px;
    text-shadow: 0 1px #16181a;
}

#room_text {
    margin-left: 11px;
}

#shutdown {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border: none;
    font-size: 12px;
    width: 25px;
    height: 23px;
    color: #FFFFFF;
    background-color: #C9282D;
}

#btnCtrlBox {
    display: inline-block;
    position: absolute;
    margin-left: 30px
}

.roomBtnCtrl:hover {
    -webkit-box-shadow: inset 0 1px #00709B;
    -moz-box-shadow: inset 0 1px #00709B;
    box-shadow: inset 0 1px #00709B;
    background: #2d8eb3;
}

.roomBtnCtrl {
    width: auto;
    color: #FFFFFF;
    background-color: #00aeef;
    font-family: 'OpenSans-Bold';
    text-align: center;
    padding: 3px 20px 3px;
    -webkit-box-shadow: inset 0 1px #15DBCB;
    -moz-box-shadow: inset 0 1px #15DBCB;
    box-shadow: inset 0 1px #15DBCB;
    border: solid 4px #111;
    border-radius: 6px;
    margin-left: 5px;
}

.icon {
    font-family: 'FontAwesome';
    margin-left: -10px;
    font-size: 11px;
}

.textBtn {
    font-family: 'OpenSans-Bold';
    color: #ffffff;
    font-size: 11px;
    margin-left: 7px;
}

#userControl {
    margin-right: 10px;
    margin-top: 13px;
    float: right;
}

#login {
    display: inline-block;
    margin-top: 5px;
    font-size: 12px;
}

#acl {
    color: #00aeef;
    font-family: 'OpenSans-Regular';
    font-weight: bold;
    margin-left: 7px;
}

#reportBugCtn {
    -webkit-box-shadow: inset 0 1px #51626f;
    -moz-box-shadow: inset 0 1px #51626f;
    box-shadow: inset 0 1px #51626f;
    border: solid 1px #111;
    border-radius: 3px;
    padding: 6px 5px;
    top: 22%;
    left: 38%;
    position: absolute;
    z-index : 1;
}

#reportBugTextarea {
    width: 300px;
    height: 250px;
}

#dashboard, #reportBug {
    -webkit-box-shadow: inset 0 1px #51626f;
    -moz-box-shadow: inset 0 1px #51626f;
    box-shadow: inset 0 1px #51626f;
    border: solid 1px #111;
    border-radius: 3px;
    background-color: #43535a;
    margin-left: 20px;
}

#joinConference:hover {
    -webkit-box-shadow: inset 0 1px #00709B;
    -moz-box-shadow: inset 0 1px #00709B;
    box-shadow: inset 0 1px #00709B;
    background: #2d8eb3;
}

#joinConference {
    margin-top: 8px;
    position: relative;
    margin: 0 auto;
    font-size: 10px;
    width: auto;
    color: #FFFFFF;
    background-color: #00aeef;
    font-family: 'OpenSans-Regular';
    font-weight: bold;
    text-align: center;
    padding: 2px 5px;
    -webkit-box-shadow: inset 0 1px #15DBCB;
    -moz-box-shadow: inset 0 1px #15DBCB;
    box-shadow: inset 0 1px #15DBCB;
    border: solid 4px #111;
    border-radius: 12px;
}

#body {
    position : relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 15px 0 15px 15px;
}

.box {
    background: rgba(0, 0, 0, 0.3);
}

#mainCam {
    float: left;
    position:relative;
}

.mainCam {
    border: solid 3px #111;
    border-radius: 6px;
    height: 99%;
}
#userListContainer {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    float: right;
    width: 12%;
    height: 100%;
}

#userListTitle {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#userList {
    margin-top: 35px;
    margin-left: 20px;
}

.userBox:hover {
    color: #555555;
    background: #ffffff;
}

.userBox {
    margin-top: 2px;
    padding: 9px 20px;
    border-left: solid 1px #1e1e1e;
    border-top: solid 1px #1e1e1e;
    border-bottom: solid 1px #1e1e1e;
    border-radius: 3px;
}

.user {
    color: #9c9c9c;
}

#textChatContainer {
    float: left;
    position: relative;
    /*margin-left: 15px;
    margin-right: 15px;*/
    border-radius: 6px;
    width: 30%;
    height: 100%;
}

#tcMessagesContainer {
    width:100%;
    position:absolute;
    top:30px;
    bottom:60px;
    overflow:auto;
    padding-top:20px;
    padding-bottom:10px;
}

.msgBox {
    margin:auto;
    min-height: 40px;
    max-width: 80%;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius:7px;
    background:#fff;
    font-size:14px;
}

div.msgBox span.author {
    color: #ffffff;
    font-size: 14px;
}

div.msgBox span.time {
    padding-left: 5px;
    color: #a6a6a6;
    font-size: 10px;
}

#tcInputBox {
    padding: 10px 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #111;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align:center;
}

#tcMessageInput {
    border-radius: 5px;
    font-size: 15px;
    height:30px;
    width: 80%;
    border:none;
    padding-left:2px;
}

.videoStream {
    border: solid 2px #111;
    border-radius: 4px;
}

#footer {
    border-top: #111 2px solid;
    position:relative;
    bottom:0px;
    width:100%;
    height: 125px;
}

#nbFeed {
    color: #00aeef;
    font-family: 'OpenSans-Regular';
    font-weight: bold;
}

#localThumbnails {
    display: inline-block;
    margin-left: 10px;
    margin-top: 12px;
    height: 60%;
}

#localVideoContainer {
    background: #111;
    margin-top: 10px;
    position: relative;
    width: 97px;
    height: 100%;
    border: solid 3px #111;
    border-radius: 6px;
}

.localVideo {
    height: 100%;
}

#centeredLocal {
    margin-top: 5px;
}

#centerButton {
    margin-top: 7px;
}

#feedNotActivate {
    color: #43535a;
}

#activateFeed {
    margin-top: 8px;
    position: relative;
    margin: 0 auto;
    font-size: 10px;
    width: auto;
    color: #FFFFFF;
    background-color: #00aeef;
    font-family: 'OpenSans-Regular';
    font-weight: bold;
    text-align: center;
    padding: 2px 5px;
    -webkit-box-shadow: inset 0 1px #15DBCB;
    -moz-box-shadow: inset 0 1px #15DBCB;
    box-shadow: inset 0 1px #15DBCB;
    border: solid 4px #111;
    border-radius: 12px;
}

#videos {
    display: inline-block;
    position: absolute;
}

.thumbnail {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    width: 136px;
    height: 102px;
    border: solid 3px #111;
    border-radius: 6px;
}

.thumbnailVideo {
    width: 136px;
    height: 100%;
}

html, body {
    position: relative;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Turorial arrows */
#roomNameArrow {
    position: absolute;
    background: #16181a;
    font-family: 'OpenSans-Bold';
    color: white;
    border: 4px solid #00aeef;
    width: 509px;
    padding: 4px;
    left: 35px;
    top: -5px;
    display:none;
}
#roomNameArrow:after, #roomNameArrow:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#roomNameArrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #16181a;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
}
#roomNameArrow:before {
    border-color: rgba(0, 174, 239, 0);
    border-bottom-color: #00aeef;
    border-width: 21px;
    left: 50%;
    margin-left: -21px;
}

#reportBugArrow {
    position: absolute;
    background: #16181a;
    font-family: 'OpenSans-Bold';
    color: white;
    border: 4px solid #00aeef;
    width: 260px;
    padding: 4px;
    right: 149px;
    top: -58px;
    display:none;
}
#reportBugArrow:after, #reportBugArrow:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#reportBugArrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #16181a;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
}
#reportBugArrow:before {
    border-color: rgba(0, 174, 239, 0);
    border-left-color: #00aeef;
    border-width: 21px;
    top: 50%;
    margin-top: -21px;
}

#textChatArrow {
    position: absolute;
    background: #16181a;
    font-family: 'OpenSans-Bold';
    color: white;
    border: 4px solid #00aeef;
    padding: 4px;
    bottom: 9px;
    left: 28.4%;
    display:none;
}
#textChatArrow:after, #textChatArrow:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#textChatArrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #16181a;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
}
#textChatArrow:before {
    border-color: rgba(0, 174, 239, 0);
    border-right-color: #00aeef;
    border-width: 21px;
    top: 50%;
    margin-top: -21px;
}

#activateArrow {
    position: absolute;
    background: #16181a;
    font-family: 'OpenSans-Bold';
    color: white;
    border: 4px solid #00aeef;
    padding: 4px;
    width: 240px;
    top: 78px;
    left: -4px;
    display:none;
}
#activateArrow:after, #activateArrow:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#activateArrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #16181a;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
}
#activateArrow:before {
    border-color: rgba(0, 174, 239, 0);
    border-right-color: #00aeef;
    border-width: 21px;
    top: 50%;
    margin-top: -21px;
}

#userListArrow {
    position: absolute;
    background: #16181a;
    font-family: 'OpenSans-Bold';
    color: white;
    border: 4px solid #00aeef;
    padding: 4px;
    right: 11.2%;
    top: 38px;
    display:none;
}
#userListArrow:after, #userListArrow:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#userListArrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #16181a;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
}
#userListArrow:before {
    border-color: rgba(0, 174, 239, 0);
    border-left-color: #00aeef;
    border-width: 21px;
    top: 50%;
    margin-top: -21px;
}

#endMessage {
    position: absolute;
    display: none;
    width: auto;
    font-size: 18px;
    padding: 7px;
    border: 4px solid #00aeef;
    background: #16181a;
    font-family: 'OpenSans-Bold';
    color: white;
    left: 45%;
    top: 51%;
}

