/* Sidebar Related */

#sidebar i {
    margin-right: 6px;
}

#logo {
    margin-top: 10%;
}

#sidebar {
    width: auto;
    float: left;
    min-width: 150px;
}


#userInfoCtn {
    margin-top: 25%;
    margin-right: 15%;
}

#login {
    font-weight: bold;
    font-size: 15px;
    color: #b4C1C7;
}

#acl {
    font-family: 'OpenSans-Regular';
    font-weight: bold;
    font-size: 13px;
    color: #00aeef;
}

#onOffCtn {
    margin-top: 15%;
}

#onOffCtn i {
    font-size: 22px;
}

#onOffCtn span {
    font-size: 12px;
    font-family: 'OpenSans-Bold';
}

.activable {
    width: 50%;
    padding : 10px 0;
    cursor: pointer;
    border-right: none;
}

.headerAcc i {
    font-size: 13px;
}

/* Remove shitty properties added by ui-accordion-header */
#sidebarAcc .ui-accordion-header {
    font-family: 'OpenSans-Bold';
    padding: 20px 0;
    margin-top: 0;
}

#sidebarAcc .ui-accordion-content {
    font-family: 'OpenSans-Bold';
    padding: 0;
}

.headerAcc:hover {
    background: #0e1011;
}

.headerAcc {
    border-top: none;
    border-right: none;
    font-size: 12px;
    text-align: center;
}

.headerAcc.down {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#070809), color-stop(100%,#191b1e));
    background: -webkit-linear-gradient(top, #070809 0%,#191b1e 100%);
}

#sidebarAcc > ul > li {
    padding: 5px 0;
    font-size: 11px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(15, 15, 15);
    cursor: pointer;
    box-shadow: inset 0 1px rgba(255,255,255,.05);
}

#sidebarAcc > ul > li > i {
    margin-left: 10%;
}

#sidebarAcc > ul > li:hover {
    background: #0e1011;
}
