@font-face {
    font-family: "BreeSerif-Regular";
    src: url(../font/BreeSerif-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../font/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url(../font/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../font/PTSans.woff') format('woff');
}
@font-face {
    font-family: "FontAwesome";
    src: url(../font/fontawesome-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
