@font-face {
    font-family: "BreeSerif-Regular";
    src: url(../fonts/BreeSerif-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PTSans.woff') format('woff');
}
@font-face {
    font-family: "FontAwesome";
    src: url(../fonts/fontawesome-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

button, video {
    cursor: pointer;
}

.icon-ok, .icon-notok {
    font-family : "FontAwesome";
    font-size: 20px;
}

.icon-ok {
    color: #39b74c;
}

.icon-notok {
    color: #ed1c22;
}

.icon-user {
    color: #4a535a;
}

.icon-dashboard:before { content: '\f0e4'; }
.icon-user:before { content: '\f007'; }
.icon-plus:before { content: '\f067'; }
.icon-check-empty:before { content: '\f096'; }
.icon-ok:before { content : '\f058'; }
.icon-notok:before { content : '\f057'; }
.icon-off:before { content : '\f011'; }
.icon-share:before { content : '\f064'; }
.icon-lock:before { content : '\f023'; }
.icon-help:before { content : '\f059'; }

* {
    margin: 0;
    padding: 0;
}

.fullscreen {
    z-index: 1;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.hidden {
    visibility: hidden;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.none {
    display: none;
}

.voiciouslogo {
    font-family: 'BreeSerif-Regular';
    font-size: 36px;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

body {
    min-width: 1024px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(../img/noise.png);
    font-family: Helvetica;
    font-size: 12px;
}

.no-selec {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.light-blue {
    background-color: #2194ff;
}

.light-blue:active {
    background: #0072dc;
}

.grey-blue {
    background-color: #7a96af;
}

.grey-blue:active {
    background: #566a7c;
}

.blue-green {
    background: #00aa86;
}

.blue-green:active {
    background: #018d6f;
}

.med-green {
    background-color: #009a3d;
}

.med-green:active {
    background: #008434;
}

.txt-shd {
    text-shadow: 0 -1px rgba(0,0,0,0.3);
}

.txt-shd:hover {
    text-shadow: 0 1px rgba(0,0,0,0.4);
}

a {
    text-decoration: none;
    color: inherit;
}

*:active, *:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
    -moz-outline-width: 0
}

.rounded10 {
  -moz-border-radius: 10px;
  border-radius: 10px;
}
