extends main

block style
  !=css("/vendor/bootstrap/docs/assets/css/bootstrap-responsive.css")
  !=css('/vendor/font-awesome/less/font-awesome.css')
  !=css("/css/style.css")
  !=css("/css/dashboard.css")

block scripts
  !=js("/scripts/dashboard")

block content
  div.container-fluid.fill-height.color-one
        div#sidebar.row-fluid.fill-height.left.bold
          div.fill-width.color-two.content-right
            img#logo(src="/img/logo.png")
          div#userInfoCtn
            p#login(align="right") #{login}
            p#dashboard(align="right") dashboard
          div#optionController.fill-width
            ul#optionList
              li.options
                div.option-wrapper.centerVertically
                  i.icon-th-large
                  | rooms
              li.options
                div.option-wrapper.centerVertically
                  i.icon-group
                  | friends
              li.options
                div.option-wrapper.centerVertically
                  i.icon-cog
                  | account settings
        div#content.fill-height
          div.frame
            include dashboardRooms
            include dashboardFriends
            include dashboardSettings