div#friendsContent.content.row-fluid.fill-height.white
	i.icon-group.bigFont
	span.title.bigFont.bold.italic= t('app.Dashboard.FriendTab.Title')
	div.friendSettingCtn
		div.sectionBox
			button.btn.btn-default.white add someone
