div#roomsContent.content.row-fluid.fill-height
	p.title Create, join and manage rooms
	div
		div#createJoinRoom
			button#createButton create
			span.separator.centerVertically
			form#joinForm
				input
				button join
	div.yourRoom.row-fluid
	div.friendsRoom.row-fluid