!!! doctype 5

html
    head
        meta(http-equiv="Content-Type", content="text/html", charset="UTF-8")
        meta(name="description", content="Simple application for videoconference")
        meta(name="identifier-url", content="http://www.voicious.com")
        meta(http-equiv="content-Language", content="fr")

        title #{title}

        !=css("/css/normalize.css")
        !=css("/css/style.css")
        link(rel="shortcut icon", type="image/png", href="/img/favicon.png")
        block style

        !=js("/scripts/vendor/jquery.js")
        !=js("/scripts/global.js")
        block scripts

    body
        block content
