extends ../main

block scripts
    link(rel="stylesheet", media="screen", type="text/css", href="/public/services/room/css/room.css")

block content
    body
        div#header
        div#menu
            p#room_logo voıċıoųs
            div#options_first.options
                p room
                p#room_url #{room}
                button#password manage password
                button#plugins manage plugins
            div#options_second.options
                p connected as
                p#login #{login}
                button#contacts contacts
                button#settings settings
